.bgAuth {
  background-color: darken($color-1, 25%);
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("../../../public/assets/form_bg.jpg") no-repeat;
  background-size: cover;

  .authDiv {
    overflow: hidden;
    width: 50vw;
    height: 50vh;
    border-radius: 25px;
    background-color: $color-1-dark20;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .authButtons {
    position: absolute;
    top: 20px;
    width: 100%;

    .authButton {
      height: 40px;
      width: 50%;
      padding: 0.5rem;
      background-color: $color-1-dark20;
      border-radius: 25px;
      border: 0px;
      font-size: 18px;
      font-weight: 600;
      color: white;

      &:hover {
        cursor: pointer;
        font-size: 20px;
        border: 0px solid $color-1;
      }
    }
  }
}
