.authDiv {
  .already-logged {
    margin-bottom: 1rem;
    color: white;
  }
  .redirection-home {
    color: $color-2;
  }
  .formDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      min-width: 350px;
      gap: 1rem;

      input {
        width: 100%;
        padding: 0.5rem;
        padding-left: 1rem;
        border: 1px solid $color-1;
        border-radius: 25px;
        font-size: 18px;
        font-weight: 600;
        font-family: $font-1, sans-serif;
        color: $black-light;
      }

      input[type="submit"] {
        background-color: $color-2;
        color: $color-1-dark20;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
