@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

body {
  background: rgb(226, 226, 226);
  font-family: "Baloo 2", cursive;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1rem;
  background-color: rgb(255, 222, 89);
  width: 100vw;
}
header .headerLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1rem;
  margin-left: 1rem;
}
header .headerLeft .logoDiv .logoImg {
  width: 150px;
  height: 150px;
}
header .headerLeft .headerForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 750px;
}
header .headerLeft .headerForm h1 {
  font-size: 32px;
  color: #00568c;
}
header .headerLeft .headerForm form input {
  width: 100%;
  padding: 0.5rem;
  padding-left: 1rem;
  border: 1px solid #00568c;
  border-radius: 25px;
  font-size: 18px;
  font-weight: 600;
  font-family: "Baloo 2", cursive, sans-serif;
  color: rgb(50, 50, 50);
}
header .headerRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 2rem;
}
header .headerRight .accountDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  min-width: 200px;
}
header .headerRight .accountDiv .accountIcon .fa-user {
  width: 2rem;
  height: 2rem;
  color: #00568c;
  border: 2px solid rgb(255, 222, 89);
  border-radius: 100%;
  background-color: white;
  padding: 1rem;
  cursor: pointer;
}
header .headerRight .accountDiv .accountIcon .fa-user:hover {
  border: 2px solid #00568c;
}
header .headerRight .accountDiv .accountMenu .logRedir {
  text-decoration: underline;
}
header .headerRight .accountDiv .accountMenu .logRedir:hover {
  cursor: pointer;
}
header .headerRight .accountDiv .accountMenu p {
  font-size: 20px;
  color: #00568c;
}
header .headerRight .cartDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
  margin-right: 1rem;
  min-width: 185px;
}
header .headerRight .cartDiv .cartButton {
  border-radius: 100%;
  border: 1px solid rgb(255, 222, 89);
  background-color: white;
}
header .headerRight .cartDiv .cartButton .fa-cart-shopping {
  width: 2rem;
  height: 2rem;
  color: #00568c;
  border: 2px solid rgb(255, 222, 89);
  border-radius: 100%;
  background-color: white;
  padding: 1rem;
  cursor: pointer;
}
header .headerRight .cartDiv .cartButton .fa-cart-shopping:hover {
  border: 2px solid #00568c;
}
header .headerRight .cartDiv .cartDetails p {
  font-size: 20px;
  color: #00568c;
}

.authDiv .formDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.authDiv .formDiv form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 350px;
  gap: 1rem;
}
.authDiv .formDiv form input {
  width: 100%;
  padding: 0.5rem;
  padding-left: 1rem;
  border: 1px solid #00568c;
  border-radius: 25px;
  font-size: 18px;
  font-weight: 600;
  font-family: "Baloo 2", cursive, sans-serif;
  color: rgb(50, 50, 50);
}
.authDiv .formDiv form input[type=submit] {
  background-color: rgb(255, 222, 89);
  color: #001726;
}
.authDiv .formDiv form input[type=submit]:hover {
  cursor: pointer;
}

.navCard {
  width: 400px;
  height: 250px;
  border-radius: 25px;
  position: relative;
  -webkit-box-shadow: 2px 2px 10px rgb(50, 50, 50);
          box-shadow: 2px 2px 10px rgb(50, 50, 50);
}
.navCard:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: 300ms;
  transition: 300ms;
}
.navCard .navArticle {
  width: 400px;
  max-height: 200px;
  width: 400px;
  height: 200px;
  border-radius: 25px 25px 0 0;
}
.navCard .navText {
  line-height: 50px;
  position: absolute;
  bottom: 0;
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgb(226, 226, 226);
  color: #00568c;
  font-weight: 600;
  font-size: 22px;
  border-radius: 0 0 25px 25px;
}
.navCard .navPapeterie {
  background: url("../../../public/assets/nav_papeterie.webp") no-repeat;
  background-size: cover;
}
.navCard .navEcriture {
  background: url("../../../public/assets/nav_ecriture.webp") no-repeat;
  background-size: cover;
}
.navCard .navFournitures {
  background: url("../../../public/assets/nav_fournitures.webp") no-repeat;
  background-size: cover;
}

.bgAuth {
  background-color: #00080d;
  min-width: 100vw;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url("../../../public/assets/form_bg.jpg") no-repeat;
  background-size: cover;
}
.bgAuth .authDiv {
  overflow: hidden;
  width: 50vw;
  height: 50vh;
  border-radius: 25px;
  background-color: #001726;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
.bgAuth .authButtons {
  position: absolute;
  top: 20px;
  width: 100%;
}
.bgAuth .authButtons .authButton {
  height: 40px;
  width: 50%;
  padding: 0.5rem;
  background-color: #001726;
  border-radius: 25px;
  border: 0px;
  font-size: 18px;
  font-weight: 600;
  color: white;
}
.bgAuth .authButtons .authButton:hover {
  cursor: pointer;
  font-size: 20px;
  border: 0px solid #00568c;
}

.homeDiv .navMenu {
  width: 100vw;
  height: 450px;
  background: url("../../../public/assets/home_bg.webp") no-repeat;
  background-size: cover;
  background-position: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}/*# sourceMappingURL=index.css.map */